DEBUG = True
SECRET_KEY = '8i#p!vf=x_-_c!$r+u6engdgol_(i_eigybc+$2ii=t6rzznip'
MAILCHIMP_API_KEY = "b8ed8a4da7548be06200cb64b08ffe84-us20"
MAILCHIMP_DATA_CENTER = "us20"
MAILCHIMP_EMAIL_LIST_ID = "2edaa2dfc9"
DB_ENGINE = 'django.db.backends.postgresql_psycopg2'
DB_NAME= 'planbaker'
DB_USER= 'baker'
DB_PASSWORD =  'password123'
DB_HOST = 'localhost'
DB_PORT='5432'
