{% load el_pagination_tags %}
{% load i18n %}
{% load static %}
{% load media_url %}

{% paginate 40 object_list %}

<div class="top_products_slides row">

								{% for phone in object_list%}






									<div class="col-md-3 col-xs-12 col-sm-6">
										<div class="thumb-wrapper">
											<div class="img-box">
												<img src="{{phone.content_object|media_url}}" class="img-responsive img-fluid" alt="slider Image 1">
											</div>
											<div class="thumb-content" style="height:109px">
												<h4 class="text-capitalize">{{phone.content_object.name|custom_name:"3"}}</h4>
												<input type="hidden" id="{{phone.content_object.slug}}" value="{{phone.content_object.slug}}">
												<a style="cursor: pointer;" onclick="sendslug('{{phone.content_object.slug}}','{{phone.content_object.name}}')" class="see_specification_link" >{% trans "See specifications"%}</a>
											 {{phone.content_object|plan_count_for_device}}
												{% if phone.content_object.name|lower in buy_mobile %}
												<a href="{% url 'search'%}?q={{phone.content_object.name}}" class="buymobilephoneonly">{% trans "Buy mobile Phone"%}</a><br>
												{% endif %}

												{% if phone.phone_type %}

											<a href="{% url 'search'%}?q={{phone.content_object.title_tst}}" class="buymobilephoneonly">{% trans "Buy mobile Phone"%}</a><br>
												{%endif%}
											</div>
										</div>
									</div>

								{%endfor%}


						</div>


{% show_more "<div class='load_more_div'> <div class='load_more_btn_div'><button class='load_more_btn btn'>Load More</button></div></div>" %}

<!-- <div class="load_more_div">-->
<!--			<div class="load_more_btn_div">-->

<!--    <button id="loadmore" onclick=""  class="load_more_btn btn">Load More <span class="load_more_icon"><img class="img-responsive" alt="Load More" src="{% static 'images/load_more_icon.png'%}"></span></button>-->
<!--				&lt;!&ndash;<a class="load_more_btn btn">Load More <span class="load_more_icon"><img class="img-responsive" alt="Load More" src="{% static 'images/load_more_icon.png'%}"></span></a>&ndash;&gt;-->
<!--			</div>-->
<!--	</div>-->