

<div class="pills_section">
	          	<div class="pill_tab_sec">
	          		 <ul class="nav nav-pills nav-stacked" role="tablist">
					    <li role="presentation" class="active"><a href="#display" aria-controls="display" role="tab" data-toggle="tab"><span class="flaticon-smartphone-call"></span>Display</a></li>
					    <li role="presentation"><a href="#camera" aria-controls="camera" role="tab" data-toggle="tab"><span class="flaticon-frame-landscape"></span>Camera</a></li>
					    <li role="presentation"><a href="#media" aria-controls="media" role="tab" data-toggle="tab"><span class="flaticon-music-player"></span>Media</a></li>
					    <li role="presentation"><a href="#physical" aria-controls="physical" role="tab" data-toggle="tab"><span class="flaticon-smartphone-call"></span>Physical</a></li>
					    <li role="presentation"><a href="#general" aria-controls="general" role="tab" data-toggle="tab"><span class="flaticon-gear"></span>General</a></li>
					    <li role="presentation"><a href="#connectivity" aria-controls="connectivity" role="tab" data-toggle="tab"><span class="flaticon-wifi-connection-signal-symbol"></span>Connectivity</a></li>
					     <li role="presentation"><a href="#memory" aria-controls="memory" role="tab" data-toggle="tab"><span class="flaticon-memory-card"></span>Memory</a></li>
					    <li role="presentation"><a href="#msging" aria-controls="msging" role="tab" data-toggle="tab"><span class="flaticon-contact"></span>Messaging</a></li>
					  </ul>
	          	</div>
	          	<div>
	          		<div class="tab-content">
					    <div role="tabpanel" class="tab-pane active" id="display">

					    		<center><div class="table-responsive">
								  <table class="table table-striped table-bordered" style="position:relative;width:100%;">
								 <tbody>



								 	  <tr>
								        <th style="min-width:50%;">Display Type:</th>
								         <td style="min-width:50%;">{{object.planphone_display_attr.type}}</td>

								      </tr>
									  <tr>
								  <th style="min-width:50%;">Display Size:</th>
								         <td style="min-width:50%;">{{object.planphone_display_attr.size}}</td>
								 </tr>
								  <tr>
								        <th style="min-width:50%;">Resolution:</th>
								         <td style="min-width:50%;">{{object.planphone_display_attr.resolution}}</td>

								      </tr>
								  <tr>
								        <th style="min-width:50%;">Protection:</th>
								         <td style="min-width:50%;">{{object.planphone_display_attr.protection}}</td>

								      </tr>





								    </tbody>
								  </table>
								 </div>
 </center>
					    </div>


                        <div role="tabpanel" class="tab-pane" id="camera">

					    		<div class="table-responsive">
								  <table class="table table-striped table-bordered">
								 <tbody>
								 <tr>
								        <th style="min-width:50%;">Features:</th>
								         <td style="min-width:50%;">{{object.planphone_cam_attr.features}}</td>

								      </tr>
									  <tr>
								  <th style="min-width:50%;">Video:</th>
								         <td style="min-width:50%;">{{object.planphone_cam_attr.Video}}</td>
								 </tr>
								  <tr>
								        <th style="min-width:50%;">Rear Camera Quality:</th>
								         <td style="min-width:50%;">{{object.planphone_cam_attr.rear_camera_quality}}</td>

								      </tr>
								  <tr>
								        <th style="min-width:50%;">Rear Camera Resolution:</th>
								         <td style="min-width:50%;">{{object.planphone_cam_attr.rear_camera_resolution}}</td>

								      </tr>
								 <tr>
								        <th style="min-width:50%;">Front camera quality:</th>
								         <td style="min-width:50%;">{{object.planphone_cam_attr.front_camera_quality}}</td>

								      </tr>
								 <tr>
								        <th style="min-width:50%;">Front camera Resolution:</th>
								         <td style="min-width:50%;">{{object.planphone_cam_attr.front_camera_resolution}}</td>

								      </tr>
								 </tbody>
								  </table>
								 </div>
                        </div>
					    <div role="tabpanel" class="tab-pane" id="media">

                            <div class="table-responsive">
								  <table class="table table-striped table-bordered">
								<tbody>
								 <tr>
								        <th style="min-width:50%;">LoudSpeaker:</th>
								         <td style="min-width:50%;">{{object.planphone_media_attr.loudspeaker}}</td>

								      </tr>
									  <tr>
								  <th style="min-width:50%;">Jack:</th>
								         <td style="min-width:50%;">{{object.planphone_cam_attr.jack}}</td>
								 </tr>

								 </tbody>
								  </table>
								 </div>

                        </div>
					    <div role="tabpanel" class="tab-pane" id="physical">
                            <div class="table-responsive">
								  <table class="table table-striped table-bordered">
								 <tbody>
								 <tr>
								        <th style="min-width:50%;">LoudSpeaker:</th>
								         <td style="min-width:50%;">{{object.planphone_physical_attr.dimensions}}</td>

								      </tr>
									  <tr>
								  <th style="min-width:50%;">Jack:</th>
								         <td style="min-width:50%;">{{object.planphone_cam_attr.weights}}</td>
								 </tr>
								  <tr>
								        <th style="min-width:50%;">Build:</th>
								         <td style="min-width:50%;">{{object.planphone_physical_attr.build}}</td>

								      </tr>
								  <tr>
								        <th style="min-width:50%;">Sim:</th>
								         <td style="min-width:50%;">{{object.planphone_physical_attr.sim}}</td>

								      </tr>

								 </tbody>
								  </table>
								 </div></div>
					    <div role="tabpanel" class="tab-pane" id="general">
                            <div class="table-responsive">
								  <table class="table table-striped table-bordered">
								 <tbody>
								 <tr>
								        <th style="min-width:50%;">Release Date:</th>
								         <td style="min-width:50%;">{{object.planphone_general_attr.released|date:"M d, Y"}}</td>

								      </tr>
								 <tr>
								        <th style="min-width:50%;">Color:</th>
								         <td style="min-width:50%;">{{object.planphone_general_attr.color}}</td>

								      </tr>
									  <tr>
								  <th style="min-width:50%;">Price:</th>
								         <td style="min-width:50%;">{{object.planphone_general_attr.price}}</td>
								 </tr>
								  <tr>
								        <th style="min-width:50%;">Battery:</th>
								         <td style="min-width:50%;">{{object.planphone_general_attr.battery}}</td>

								      </tr>
								  <tr>
								        <th style="min-width:50%;">Stand By Time:</th>
								         <td style="min-width:50%;">{{object.planphone_general_attr.stand_by}}</td>

								      </tr>
								  <tr>
								        <th style="min-width:50%;">OS:</th>
								         <td style="min-width:50%;">{{object.planphone_general_attr.os}}</td>

								      </tr>
								  <tr>
								        <th style="min-width:50%;">Chip Set:</th>
								         <td style="min-width:50%;">{{object.planphone_general_attr.chip_set}}</td>

								      </tr>
								  <tr>
								        <th style="min-width:50%;">CPU:</th>
								         <td style="min-width:50%;">{{object.planphone_general_attr.cpu}}</td>

								      </tr>

								 </tbody>
								  </table>
								 </div>
                        </div>
					    <div role="tabpanel" class="tab-pane" id="connectivity">

                            <div class="table-responsive">
								  <table class="table table-striped table-bordered">
								 <tbody>
								 <tr>
								        <th style="min-width:50%;">Blue tooth:</th>
								         <td style="min-width:50%;">{{object.planphone_conn_attr.bluetooth}}</td>

								      </tr>
									  <tr>
								  <th style="min-width:50%;">Blue tooth Profile:</th>
								         <td style="min-width:50%;">{{object.planphone_conn_attr.bluetooth_profile}}</td>
								 </tr>
								  <tr>
								        <th style="min-width:50%;">Wifi:</th>
								         <td style="min-width:50%;">{{object.planphone_conn_attr.wifi}}</td>

								      </tr>
								  <tr>
								        <th style="min-width:50%;">USB Version:</th>
								         <td style="min-width:50%;">{{object.planphone_conn_attr.usb_version}}</td>

								      </tr>
								 <tr>
								        <th style="min-width:50%;">Connecting Features:</th>
								         <td style="min-width:50%;">{{object.planphone_conn_attr.connecting_features}}</td>

								      </tr>

								 </tbody>
								  </table>
								 </div>


                        </div>
					    <div role="tabpanel" class="tab-pane" id="memory">
                            <div class="table-responsive">
								  <table class="table table-striped table-bordered">
								  <tbody>
								 <tr>
								        <th style="min-width:50%;">Card Slot:</th>
								         <td style="min-width:50%;">{{object.planphone_memory_attr.card_slot}}</td>

								      </tr>
									  <tr>
								  <th style="min-width:50%;">Internal:</th>
								         <td style="min-width:50%;">{{object.planphone_memory_attr.internal}}</td>
								 </tr>
								  <tr>
								        <th style="min-width:50%;">Memory Card Up To:</th>
								         <td style="min-width:50%;">{{object.planphone_memory_attr.memory_card_upto}}</td>

								      </tr>


								 </tbody>
								  </table>
								 </div>


                        </div>
					    <div role="tabpanel" class="tab-pane" id="msging">
                            <div class="table-responsive">
								  <table class="table table-striped table-bordered">
								 <tbody>
								 	 {% for ob in object.planphone_messaging_attr.all %}


								 	  <tr>
								        <th>{{ob.attr_name}}</th>
								         <td>{{ob.attr_value}}</td>
								      </tr>
                                 {% empty %}
                                 No Display Options Available
                                 {% endfor %}
								  </table>
								 </div>

                        </div>
					  </div>
	          	</div>
	          </div>
