{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load media_url %}
{% load plan_tags %}
{% block title %}
    Phones
{% endblock %}
{% block content %}
<style>
	th{
	position:relative;
	width : 50%
	}
	td{
	position:relative;
	width : 50%
	}

</style>
	<section class="mid-section plan_vendor_sec">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-12 floatleft">
					<div class="select_phone_filterdiv">
						<div class="product_listng_buy_top_div">
				   			 	<div>
						  			<div>
							  		 <h4 class="slct_phn_hdr">{{pl_phone.name}}</h4>
							  		</div>
									 <div>
									 	<ul class="plan_vndr_icon company-clients-logos">
												<li><img class="img-responsive" alt="verizon" src="{{object.operator_id.image|operator_logo}}"></li>
										</ul>
									 </div>
				  				</div>
				  		</div>
						{%if pl_phone%}

				  		<div class="row plandetails_mobileSpec_div">
				  			<div class="col-sm-3">
				  				<div class="plandetails_mobileSpecwrapper">
											<div class="img-box">
												<img src="{{pl_image| operator_logo}}" class="img-responsive img-fluid" alt="slider Image 1">
											</div>
											<div class="thumb-content">
												<h4 class="text-capitalize">{{pl_phone.name}}</h4>
												<!--<a href="" class="see_specification_link" data-toggle="modal" data-target="#seeSpecModal">See specifications</a>-->
												<a onclick="sendslug('{{pl_phone.id}}')">See specifications</a>
											</div>						
								</div>
				  			</div>
				  			<div class="col-sm-6">
				  				<div class="row plandetails_mobileSpec_donuts">
				  					<div class="col-sm-4">
										 <div>
										 	<h5 class="text-center">Data </h5>
											 <div class="data_speed_div" id="mobileSpec_donuts" data-percent=" {{object.data.donut_data_val |  percentof:max_data_donut}}" ></div>
										 	 <div ></div>
										 </div>
										<div class="plans_feature_div_desc">
			                                 <p><span>{{object.data.donut_data_val|data_converter}}</span> <br>Full Speed Data</p>
										</div>
									</div>
									<div class="col-sm-4">
										 <div >
										 	<h5 class="text-center"> Minutes</h5>
											  <div class="data_speed_div" id="mobileSpec_donuts1" data-percent=" {{object.call.donut_call_val |  percentof:max_call_donut}}"></div>
										 	 <div ></div>
										 </div>
										<!-- <img class="img-responsive" src="images/donut-icon.png"> -->
										<div class="plans_feature_div_desc">
											 <p><span>{{object.call.donut_call_val}} </span><br> Minutes Voice call</p>
										</div>
									</div>
									<div class="col-sm-4">
										 <div >
										 	<h5 class="text-center">Messages  </h5>
											  <div class="data_speed_div" id="mobileSpec_donuts2" data-percent=" {{object.message.donut_message_val |  percentof:max_message_donut}}"></div>

										 </div>
										<!-- <img class="img-responsive" src="images/donut-icon.png"> -->
										<div class="plans_feature_div_desc">
											 <p><span>{{object.message.donut_message_val}}</span><br> Messages</p>
										</div>

									</div>
				  				</div>
				  			</div>
							{%if object.website_description%}
							<div class="col-sm-3 pl-0">

									<div class="col-sm-12">
				  						<h5><b>Description</b></h5>
										<p>{{object.website_description}}</p>
										<!--<p>(Pay {{object.mf_value}} SAR for 3 Months)</p>-->
				  					</div>


							</div>

								{%endif%}
				  			<div class="col-sm-3 pl-0">
				  					<div class="plandetails_mobileSpec_paymntDiv">
				  					<div class="col-sm-12">
				  						<h5>{%exchange_rate plan.mf_value%} {{request.session.currency}}/mo</h5>
										<p>Monthly Fee</p>
										<!--<p>(Pay {{object.mf_value}} SAR for 3 Months)</p>-->
				  					</div>
				  					<div class="col-sm-12 ">
				  						<p>One Time Payment</p>
				  						<h5>{%exchange_rate plan.otp_value%} {{request.session.currency}}/mo</h5>
				  					</div>


											{%if object.e_commerce_status%}

										<a target="_blank" href="{{object.plan_url_english}}" class="btn btn-primary">Buy Online</a>
											{%else%}
											<a target="_blank" href="{{plan.plan_url_english_near}}" class="btn btn-primary btn-sm">Go To the Nearest Store</a>
											{%endif%}



				  				</div>
				  			</div>
				  		</div>
				  		{%endif%}
				  		
				  	</div>

					<!--<div class="planVndr_products_list">-->
						<!--<div class="mobile_availability_hdrDiv">-->
							<!--<h3>Lorem Ipsum</h3>-->
						<!--</div>-->
						<!--<div class="mobile_availability_div">-->
							<!--<div class="mobile_availability_img">-->
								<!--<div class="img-box">-->
									<!--<img src="{% static 'images/mob-04.png'%}" class="img-responsive img-fluid" alt="slider Image 1">-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="mobile_availabilitydesc_div">-->
								<!--<div class="mobile_availabilitydesc_name">-->
									<!--<p>Huawei Mate 20 Pro</p>-->
								<!--</div>-->
								<!--<div class="mobile_availabilitydesc_dtls">-->
									<!--<div class="mobile_availabilitydesc_dtls1">-->
										<!--<p class="floatleft">Device Price: <span>Rs. 1716</span></p>-->
										<!--<a href="" class="floatright">Availability: In Stock</a>-->
									<!--</div>-->
									<!--<div class="mobile_availabilitydesc_dtls2">-->
										<!--<p>Gift price</p>-->
										<!--<a href="" class="buy_btn_withPrice">USD. 1012</a><span class="off_desc">(40% off)</span>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					{%if add_device%}
					<div class="planVndr_products_slider">
						<div class="mobile_availability_hdrDiv">

							<h3>Entertainment optional free device</h3>
						</div>
						<div class="top_products_slides  planVndr_products_list_slider">

							{%for add in add_device%}
							<div class="planVndr_products_list_slides_div">
								<div class="planVndr_products_list_slidesImg">
									<img src="{{add.deviceimage.image|operator_logo}}" class="img-responsive" alt="Slider1 Image">
								</div>
								<div class="planVndr_products_list_slidesImgDtl">
									<p>{{add.name}}</p>

									{%if add.price%}<h6>{{add.price}} {{request.session.currency}}</h6>{%else%}<h6>Free Device </h6>{%endif%}
									<a onclick="sendslug('{{add.slug}}')">See specifications</a>
								</div>
							</div>
							{%endfor%}

						</div>
					</div>
					{%endif%}
					<div class="plan_details_tb_div">
						<h2>Plan Details</h2>
						<div>
							<table class="table-bordered" style="position:relative;width:100%;">
							<tbody>
								<tr class="row">
									<th  >Operator</th>
									<td  >{{object.operator_id}}</td>
								</tr>
								<tr class="row">
									<th  >Name</th>
									<td  >{{object.name}}</td>
								</tr>


								{%if object.pay_type%}
								<tr class="row">
									<th  >Pay Type</th>
									<td  >{{object.pay_type}}</td>
								</tr>
								{%endif%}

								{%if object.commitment_months%}
								<tr class="row">
									<th  >Commitment <Months></Months></th>
									<td  >{{object.commitment_months}}</td>
								</tr>
								{%endif%}
								{%if object.validity_days%}
								<tr class="row">
									<th  >Validity Days</th>
									<td  >{{object.validity_days}}</td>
								</tr>
								{%endif%}
								{%if object.fee%}
								<tr class="row">
									<th  >Fee </th>
									<td  >{{object.fee}} {{request.session.currency}}</td>
								</tr>
								{%endif%}
								{%if object.one_time_setup_fee%}
								<tr class="row">
									<th  >One time set up fee</th>
									<td  >{{object.one_time_setup_fee}} {{request.session.currency}}</td>
								</tr>
								{%endif%}
								{%if object.fee_notes%}
								<tr class="row">
									<th  >Fee Notes</th>
									<td  >{{object.fee_notes}}</td>
								</tr>
								{%endif%}
								{%if object.initial_credit%}
								<tr class="row">
									<th  >Initial Credit</th>
									<td  >{{object.initial_credit}}</td>
								</tr>
								{%endif%}
								{%if object.special_conditions%}
								<tr class="row">
									<th  >Special Conditions</th>
									<td  >{{object.special_conditions}}</td>
								</tr>
								{%endif%}
								{%if object.subscription_fee%}
								<tr class="row">
									<th  >Subscription Fee</th>
									<td  >{{object.subscription_fee}} {{request.session.currency}}</td>
								</tr>
								{%endif%}
								{%if object.monthly_fee%}
								<tr class="row">
									<th  >Monthly Fee</th>
									<td  >{{object.monthly_fee}} {{request.session.currency}}</td>
								</tr>
								{%endif%}
								{%if object.upfront_payment_per_year%}
								<tr class="row">
									<th>Upfront Payment per Year</th>
									<td  >{{object.upfront_payment_per_year}} {{request.session.currency}}</td>
								</tr>
								{%endif%}
								{%if object.renewable_fee%}
								<tr class="row">
									<th  >Renewable Fee</th>
									<td  >{{renewable_fee}} {{request.session.currency}}</td>
								</tr>
								{%endif%}
								{%if object.validity%}
								<tr class="row">
									<th  >Validity</th>
									<td  >{{monthly_fee}} {{request.session.currency}}</td>
								</tr>
								{%endif%}
								{%if object.vanity_number%}
								<tr class="row">
									<th >Vanity Number</th>
									<td  >{{object.vanity_number}}</td>
								</tr>
								{%endif%}
							{% for key , value in object.message.available_data.items%}
							<tr class="row">
									<th  >{{key}}</th>
									<td  >{{value}}</td>
								</tr>
							{%endfor%}
							{% for key , value in object.data.available_data.items%}
							<tr class="row">
									<th  >{{key}}</th>
									<td >{{value}}</td>
								</tr>
							{%endfor%}
							{% for key , value in object.call.available_data.items%}
							<tr class="row">
									<th  >{{key}}</th>
									<td  >{{value}}</td>
								</tr>
							{%endfor%}
							{% for key , value in object.mms.available_data.items%}
							<tr class="row">
									<th  >{{key}}</th>
									<td >{{value}}</td>
								</tr>
							{%endfor%}




								{% for key , value in object.international_benefit.available_data.items%}
							<tr class="row">
									<th  >{{key}}</th>
									<td  >{{value}}</td>
								</tr>
							{%endfor%}
							{% for key , value in object.additional_benefit.available_data.items%}
							<tr class="row">
									<th  >{{key}}</th>
									<td  >{{value}}</td>
								</tr>
							{%endfor%}
							{% for key , value in object.subscription_method.available_data.items%}
							<tr class="row">
									<th  >{{key}}</th>
									<td  >{{value}}</td>
								</tr>
							{%endfor%}
							{% for val in object.plan_add_attr.all%}
							<tr class="row">
									<th  >{{val.attr_name}}</th>
									<td  >{{val.attr_value}}</td>
								</tr>
							{%endfor%}

								<tr class="row" style="text-align:center;">

									{%if object.e_commerce_status%}
									<td  ><a target="_blank" href="{{object.plan_url_english}}" class="btn btn-primary">Buy Online</a></td>
									{%else%}
									<td  ><a target="_blank" href="{{plan.plan_url_english_near}}" class="btn btn-primary btn-sm">Go To the Nearest Store</a></td>
									{%endif%}


								</tr>


							</tbody>
						</table>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 floatright">
					 <div class="adverstisement_div">
						<a href="" target="_blank" rel="nofollow" title="" class="zone1">
							<img width = "100%" height="100%" src="" class="img-responsive img-fluid zone1" />
						</a>
					</div>
					<div class="adverstisement_div">
						<a href="" target="_blank" rel="nofollow" title="" class="zone2">
							<img width = "100%" height="100%" src="" class="img-responsive img-fluid zone2" />
						</a>
					</div>
					<div class="adverstisement_div">
						<a   href="" target="_blank" rel="nofollow" title="" class="zone3">
							<img   width = "100%" height="100%" src="" class="img-responsive img-fluid zone3" />
						</a>
					</div>
					<div class="adverstisement_div">
						<a  href="" target="_blank" rel="nofollow" title="" class="zone4">
							<img width = "100%" height="100%" src="" class="img-responsive img-fluid zone4" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
{% block extra_script %}
	  <div class="modal fade custom_seeSpecModal" id="seeSpecModal" role="dialog">
	    <div class="modal-dialog">

	      <!-- Modal content-->
	      <div class="modal-content modal-lg">
	        <div class="modal-header">
	          <h4 class="modal-title"></h4>
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	        <div class="modal-body" id="loadspecs">
	          <!--<div class="pills_section">-->
	          	<!--<div class="pill_tab_sec">-->
	          		 <!--<ul class="nav nav-pills nav-stacked" role="tablist">-->
					    <!--<li role="presentation" class="active"><a href="#display" aria-controls="display" role="tab" data-toggle="tab"><span class="flaticon-smartphone-call"></span>Display</a></li>-->
					    <!--<li role="presentation"><a href="#camera" aria-controls="camera" role="tab" data-toggle="tab"><span class="flaticon-frame-landscape"></span>Camera</a></li>-->
					    <!--<li role="presentation"><a href="#media" aria-controls="media" role="tab" data-toggle="tab"><span class="flaticon-music-player"></span>Media</a></li>-->
					    <!--<li role="presentation"><a href="#physical" aria-controls="physical" role="tab" data-toggle="tab"><span class="flaticon-smartphone-call"></span>Physical</a></li>-->
					    <!--<li role="presentation"><a href="#general" aria-controls="general" role="tab" data-toggle="tab"><span class="flaticon-gear"></span>General</a></li>-->
					    <!--<li role="presentation"><a href="#connectivity" aria-controls="connectivity" role="tab" data-toggle="tab"><span class="flaticon-wifi-connection-signal-symbol"></span>Connectivity</a></li>-->
					     <!--<li role="presentation"><a href="#memory" aria-controls="memory" role="tab" data-toggle="tab"><span class="flaticon-memory-card"></span>Memory</a></li>-->
					    <!--<li role="presentation"><a href="#msging" aria-controls="msging" role="tab" data-toggle="tab"><span class="flaticon-contact"></span>Messaging</a></li>-->
					  <!--</ul>-->
	          	<!--</div>-->
	          	<!--<div>-->
	          		<!--<div class="tab-content">-->
					    <!--<div role="tabpanel" class="tab-pane active" id="display">-->

					    		<!--<div class="table-responsive">          -->
								  <!--<table class="table table-striped table-bordered">-->
								 <!--<tbody>-->
								 	  <!--<tr>-->
								        <!--<th>Music Player</th>-->
								         <!--<td>Yes</td>-->
								      <!--</tr>-->
								      <!--<tr>-->
								        <!--<th>Video Player</th>-->
								        <!--<td>Yes</td>-->
								      <!--</tr>-->
								      <!--<tr>-->
								        <!--<th>Video Calls</th>-->
								        <!--<td>Yes</td>-->
								      <!--</tr>-->
								      <!--<tr>-->
								        <!--<th>FM Radio</th>-->
								        <!--<td>No</td>-->
								      <!--</tr>-->
								      <!--<tr>-->
								        <!--<th>Audio Formats</th>-->
								        <!--<td>AAC-LC, HE-AAA,HE-AAAC,v2,Protected AAC,MP3,LinearPCM,Apple Lossless,FLAC</td>-->
								      <!--</tr>-->
								      <!--<tr>-->
								        <!--<th>Video Formats</th>-->
								        <!--<td>HEVC,H.264,MPEG-4 Part 2,and JPEG</td>-->
								      <!--</tr>-->
								      <!---->
								    <!--</tbody>-->
								  <!--</table>-->
								 <!--</div>-->

					    <!--</div>-->
					    <!--<div role="tabpanel" class="tab-pane" id="camera">Camera</div>-->
					    <!--<div role="tabpanel" class="tab-pane" id="media">...</div>-->
					    <!--<div role="tabpanel" class="tab-pane" id="physical">...</div>-->
					    <!--<div role="tabpanel" class="tab-pane" id="general">home</div>-->
					    <!--<div role="tabpanel" class="tab-pane" id="connectivity">Camera</div>-->
					    <!--<div role="tabpanel" class="tab-pane" id="memory">...</div>-->
					    <!--<div role="tabpanel" class="tab-pane" id="msging">...</div>-->
					  <!--</div>-->
	          	</div>
	          </div>
	        </div>
	      </div>
	      
	    </div>
	  </div>
  <!-- Specification Modal begins -->

<script >

function sendslug(param){
console.log(param)
var slug =param;


var url_mask = "{% url 'devicedetailpk' 12345 %}".replace(/12345/, slug);
console.log(url_mask)
$('#loadspecs').load(url_mask, function () {
                    $('#seeSpecModal').modal('toggle');
                    <!--$('.modal-title').text(name);-->
                    //formAjaxSubmit('#form-modal-body form', '#form-modal');
                });
}

 
$(document).ready(function(){







				$("#mobileSpec_donuts").circliful({
		            animation: 1,
		            animationStep: 5,
		            foregroundBorderWidth: 25,
		            backgroundBorderWidth: 25, replacePercentageByText:'',
		            percent: 100,
		            textColor: '#666',
		            multiPercentage: 1,
		        });
		        $("#mobileSpec_donuts1").circliful({
		            animation: 1,
		            animationStep: 5,
		            foregroundBorderWidth: 25,
		            backgroundBorderWidth: 25, replacePercentageByText:'',
		            percent: 100,
		            foregroundColor: "#38bfba",
		            multiPercentage: 1,
		        });
		        $("#mobileSpec_donuts2").circliful({
		            animation: 1,
		            animationStep: 5,
		            foregroundBorderWidth: 25,
		            backgroundBorderWidth: 25, replacePercentageByText:'',
		            percent: 100,
		            foregroundColor: '#fc5920',
		            multiPercentage: 1,
		        });
			});
				
</script>
{% endblock %}