{% load el_pagination_tags %}
{% load i18n %}
{% load static %}
{% load media_url %}
{% load plan_tags %}
{% paginate 25 plans %}

{% for plan in plans%}
			<div class="load_plans_inner_div">

					<div class="col-sm-4">
						<div class="plan_logo">
							<img class="img-responsive" src="{{plan.operator_id.image|operator_logo}}" style="max-width: 100%;" />
						</div>
						<div class="plans_feature_desc_div">
							<div class="phones_avail_div">
                                {%if plan.device_ram.count%}
								<p>{{plan.device_ram.count}}</p>

                                {%else%}
                                <p>0</p>
                                {%endif%}
								<p>Device <br> available</p>

							</div>
							<div class="phones_avail_div_desc">
								<a target="_blank" href="{{plan.get_absolute_url}}"><h3>{{plan.name}} </h3></a>
                                {%if plan.website_description%}
								<ul style="text-align:left;">
									{{plan.website_description}}

								</ul>
                                {%endif%}
							</div>
						</div>
					</div>
					<div class="col-sm-8 plans_feature_div">
						<div>
							 <div class="col-sm-8">





							 	 <div style="width:66%" data-toggle="tooltip" title="{{plan.data.donut_data_val |  percentof:max_data_donut.data__donut_data_val__max}}%" class="data_speed_div test-circle" id="{{plan.slug}}1" data-percent=" {{plan.data.donut_data_val |  percentof:max_data_donut.data__donut_data_val__max}}"></div>
							 </div>
							<!-- <img class="img-responsive" src="images/donut-icon.png"> -->
							<div class="plans_feature_div_desc">
								<h3>{{plan.data.donut_data_val|data_converter}}</h3>
								{% if plan.data.donut_data_val %}


                                 <p>Full Speed Data</p>
								{% endif %}
							</div>
						</div>

						<div>
							<!--<button class="btn featured_btn">Featured</button>-->
							<div class="plans_feature_div_desc">
								<div class="col-sm-12">
				  						<h5>{{plan.mf_value}} {{request.session.currency}}/mo</h5>
										<p>Monthly Fee</p>
										<!--<p>(Pay {{object.mf_value}} SAR for 3 Months)</p>-->
				  					</div>
				  					<div class="col-sm-12 ">
				  						<p>One Time Payment</p>
				  						<h5>{{plan.otp_value}} {{request.session.currency}}/mo</h5>
				  					</div>
							</div>
						</div>
                        {%if plan.e_commerce_status %}
						<div class="go_to_nearest_branch">
							<a href="{{plan.plan_url_english}}" target="_blank" class="load_more_btn btn">Buy Online</a>
						</div>

                        {%else%}
						<div class="go_to_nearest_branch">
							<a href="#">Go to the <br>Nearest Branch</a>
						</div>

                        {% endif %}
					</div>
				</div>

 <script>
    $("#{{plan.slug}}1").circliful({
        animation: 1,
        animationStep: 5,
        foregroundBorderWidth: 25,
		backgroundBorderWidth: 25,
        replacePercentageByText: '',
        textSize: 28,
        textStyle: 'font-size: 12px;',
        textColor: '#666',
        color: '#3180B8',
        multiPercentage: 1,
    });





</script>

				{% empty %}
				<div class="load_plans_inner_div">
						 <h3>No Result for this Query,Please try different filters !!</h3>

					</div>

                {%endfor%}


{% show_more "<div class='load_more_div'><div class='container'><div class='load_more_btn_div'><button class='load_more_btn btn'>Load More</button></div></div></div>" %}