{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    Phones
{% endblock %}
{% block content %}
<section>
<div class="container">
    <center>
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Page under construction</h1>

                <div class="error-details">
                  This page is under construction !!
                </div>
                <div class="error-actions"><br>
                    <a href="/" class="btn btn-primary btn-lg">
                        Take Me Home </a>

                </div>
            </div>
        </div>
    </div>

        </center>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </section>
{% endblock %}
