{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    ADSL
{% endblock %}
{% block content %}
	<section class="mid-section">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-12 floatleft">
					<h2 class="main-hdng"> <span class="choose_best_plans_for"> {% trans "Choose the Best Plans for"%} </span>
					<span class="mobilephonr_trans">{% trans "ADSL & Fiber Internet"%}</span> </h2>
					<ul class="company-clients-logos">
						<li><img class="img-responsive" alt="verizon" src="{% static 'images/airtel-logo-red-png.png'%}"></li>
						<li><img class="img-responsive" alt="verizon" src="{% static 'images/AT&T.png'%}"></li>
						<li><img class="img-responsive" alt="verizon" src="{% static 'images/T-mobile.png'%}"></li>
						<li><img class="img-responsive" alt="verizon" src="{% static 'images/sprint.png'%}"></li>
					</ul>
					<div class="networks client_network">
						<div class="row flex_eqH">
							<div class="col-md-4 networks-div netwrk_flex_div">
								<h2 class="main-hdng text-capitalize">{% trans "Select Device"%} </h2>
								<div class="select-phone nw_space_even">
									<div class="select-phone-div adsl_image img-block">
										<a href="#" class="see_selectmobile_link" data-toggle="modal" data-target="#seeselectModal"><img class="img-responsive" alt="Router Icon" src="{% static 'images/icon-router.png'%}"
										onmouseover="this.src='{% static 'images/adslnewh.png'%}'"
    									onmouseout="this.src='{% static 'images/icon-router.png'%}'"

										></a>
									</div>
								</div>
							</div>
							<div class="col-md-4 networks-div filter netwrk_flex_div monthly_usage_div">
								<h2 class="main-hdng text-capitalize">{% trans "Monthly Usage"%} <a href="#" data-toggle="modal" data-target="#dataUsageCalcModal"><img src="{% static 'images/i-icon.png'%}"></a></h2>
								<div class="nw_space_even">
									<div class="slidecontainer">
										<p id="data_text"><span class="data_trans data_def">{% trans "Data"%}: </span><span class="data_def_val" id="dataRouterRangeval"></span>MB </p>
									  	<input type="range" min="1" max="100" value="50" class="slider" id="dataRouterRange">							 
									</div>
								</div>
							</div>
							<div class="col-md-4 networks-div netwrk_flex_div">
								<h2 class="main-hdng text-capitalize">{% trans "Network"%}</h2>
								<div class="nw_space_even">
										<div class="dropdown netwrk-dropdwn">
										  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										    English
										    <span class="caret"></span>
										  </button>
										  <ul class="dropdown-menu" >
										    <li><a href="#">Action</a></li>
										    <li><a href="#">Another action</a></li>
										    <li><a href="#">Something else here</a></li>
										    <li><a href="#">Separated link</a></li>
										  </ul>
										</div>
										<div class="plan_availabe">
											<p class="plan_availabe_text">191<span class="text-capitalize plan_availabe_trnslte">{% trans "Plans Available"%}</span></p>
										</div>
										<div class="search_op_div">
											<a class="btn search_op_btn text-capitalize" href= "{% url 'operators'%}">{% trans "Search All Operators"%}</a>
										</div>
								</div>
							</div>
						</div>
					</div>
					<div class="plans_div">
						<h2 class="main-hdng">Lorem Ipsum </h2>
						<p class="sub-hdr-line">Lorem Ipsum is simply dummy text of the printing </p>
						<div class="row plans_inner_div flex_eqH">
							<div class="col-sm-3">
								<div class="plan_icon img-block"><img src="{% static 'images/star.png'%}" class="img-responsive" alt="star">
								</div>						
								<div class="tag">
									<a href="#">Lorem Ipsum</a>
								</div>
								<p class="plan_desc">
									Lorem Ipsum is simply 
									dummy text of the printing
								</p>
							</div>
							<div class="col-sm-3">
								<div class="plan_icon img-block"><img src="{% static 'images/icon-01.png'%}" class="img-responsive" alt="star"></div>
								<div class="tag">
									<a href="#">Lorem Ipsum</a>
								</div>
								<p class="plan_desc">
									Lorem Ipsum is simply 
									dummy text of the printing
								</p>
							</div>
							<div class="col-sm-3">
								<div class="plan_icon img-block"><img src="{% static 'images/icon-02.png'%}" class="img-responsive" alt="star"></div>
								<div class="tag">
									<a href="#">Lorem Ipsum</a>
								</div>
								<p class="plan_desc">
									Lorem Ipsum is simply 
									dummy text of the printing
								</p>
							</div>
							<div class="col-sm-3">
								<div class="plan_icon img-block"><img src="{% static 'images/icon-01.png'%}" class="img-responsive" alt="star"></div>
								<div class="tag">
									<a href="#">Lorem Ipsum</a>
								</div>
								<p class="plan_desc">
									Lorem Ipsum is simply 
									dummy text of the printing
								</p>
							</div>
							
						</div>
					</div>
					<div class="top_products">
						<h2 class="main-hdng text-center text-capitalize">Top Smartphones </h2>
							<div class="top_products_slides top_products_slides1 dsply_flx">	
								<div>														
									<div class="thumb-wrapper">
										<div class="img-box">
											<img src="{% static 'images/mob-01.png'%}" class="img-responsive img-fluid" alt="slider Image 1">
										</div>
										<div class="thumb-content">
											<h4 class="text-capitalize">Google pixel 3</h4>
											<a href="#" class="see_specification_link" data-toggle="modal" data-target="#seeSpecModal">{% trans "See specifications"%}</a>
											<a href="{% url 'operators'%}" class="available_in_12_plans">{% trans "Available in 12 plans"%}</a>
											<a href="{% url 'search'%}" class="buymobilephoneonly">{% trans "Buy mobile Phone"%}</a>
										</div>
									</div>
								</div>
								<div>
									<div class="thumb-wrapper">
										<div class="img-box">
											<img src="{% static 'images/mob-02.png'%}" class="img-responsive img-fluid" alt="slider Image 1">
										</div>
										<div class="thumb-content">
											<h4 class="text-capitalize">iPhone XR</h4>
											<a href="#" class="see_specification_link" data-toggle="modal" data-target="#seeSpecModal">{% trans "See specifications"%}</a>
											<a href="{% url 'operators'%}" class="available_in_12_plans">{% trans "Available in 12 plans"%}</a>
											<a href="{% url 'search'%}" class="buymobilephoneonly">{% trans "Buy mobile Phone"%}</a>
										</div>
									</div>
								</div>
								<div>
									<div class="thumb-wrapper">
										<div class="img-box">
											<img src="{% static 'images/mob-03.png'%}" class="img-responsive img-fluid" alt="slider Image 1">
										</div>
										<div class="thumb-content">
											<h4 class="text-capitalize">OnePlus 6t</h4>
											<a href="#" class="see_specification_link" data-toggle="modal" data-target="#seeSpecModal">{% trans "See specifications"%}</a>
											<a href="{% url 'operators'%}" class="available_in_12_plans">{% trans "Available in 12 plans"%}</a>
											<a href="{% url 'search'%}" class="buymobilephoneonly">{% trans "Buy mobile Phone"%}</a>
										</div>
									</div>
								</div>
								<div>
									<div class="thumb-wrapper">
										<div class="img-box">
											<img src="{% static 'images/mob-04.png'%}" class="img-responsive img-fluid" alt="slider Image 1">
										</div>
										<div class="thumb-content">
											<h4 class="text-capitalize">Huawei Mate 20 Pro</h4>
											<a href="#" class="see_specification_link" data-toggle="modal" data-target="#seeSpecModal">{% trans "See specifications"%}</a>
											<a href="{% url 'operators'%}" class="available_in_12_plans">{% trans "Available in 12 plans"%}</a>
											<a href="{% url 'search'%}" class="buymobilephoneonly">{% trans "Buy mobile Phone"%}</a>
										</div>
									</div>
								</div>
								<div>
									<div class="thumb-wrapper">
										<div class="img-box">
											<img src="{% static 'images/mob.png'%}" class="img-responsive img-fluid" alt="slider Image 1">
										</div>
										<div class="thumb-content">
											<h4 class="text-capitalize">Google pixel 3</h4>
											<a href="#" class="see_specification_link" data-toggle="modal" data-target="#seeSpecModal">{% trans "See specifications"%}</a>
											<a href="{% url 'operators'%}" class="available_in_12_plans">{% trans "Available in 12 plans"%}</a>
											<a href="{% url 'search'%}" class="buymobilephoneonly">{% trans "Buy mobile Phone"%}</a>
										</div>
									</div>
								</div>
						</div>


					</div>
					<div>
						<div class="top_products_slides top_products_slides2 dsply_flx">
								<div>
									<div class="thumb-wrapper">
										<div class="img-box">
											<img src="{% static 'images/mobile-large.png'%}" class="img-responsive img-fluid" alt="slider Image 1">
										</div>
										<div class="thumb-content">
											<h4 class="text-capitalize">Google pixel 3</h4>
											<a href="#" class="see_specification_link" data-toggle="modal" data-target="#seeSpecModal">{% trans "See specifications"%}</a>
											<a href="{% url 'operators'%}" class="available_in_12_plans">{% trans "Available in 12 plans"%}</a>
											<a href="{% url 'search'%}" class="buymobilephoneonly">{% trans "Buy mobile Phone"%}</a>
										</div>
									</div>
								</div>
								<div>
									<div class="thumb-wrapper">
										<div class="img-box">
											<img src="{% static 'images/mob-02.png'%}" class="img-responsive img-fluid" alt="slider Image 1">
										</div>
										<div class="thumb-content">
											<h4 class="text-capitalize">iPhone XR</h4>
											<a href="#" class="see_specification_link" data-toggle="modal" data-target="#seeSpecModal">{% trans "See specifications"%}</a>
											<a href="{% url 'operators'%}" class="available_in_12_plans">{% trans "Available in 12 plans"%}</a>
											<a href="{% url 'search'%}" class="buymobilephoneonly">{% trans "Buy mobile Phone"%}</a>
										</div>
									</div>
								</div>
								<div>
									<div class="thumb-wrapper">
										<div class="img-box">
											<img src="{% static 'images/mob-03.png'%}" class="img-responsive img-fluid" alt="slider Image 1">
										</div>
										<div class="thumb-content">
											<h4 class="text-capitalize">OnePlus 6t</h4>
											<a href="#" class="see_specification_link" data-toggle="modal" data-target="#seeSpecModal">{% trans "See specifications"%}</a>
											<a href="{% url 'operators'%}" class="available_in_12_plans">{% trans "Available in 12 plans"%}</a>
											<a href="{% url 'search'%}" class="buymobilephoneonly">{% trans "Buy mobile Phone"%}</a>
										</div>
									</div>
								</div>
								<div>
									<div class="thumb-wrapper">
										<div class="img-box">
											<img src="{% static 'images/mob-04.png'%}" class="img-responsive img-fluid" alt="slider Image 1">
										</div>
										<div class="thumb-content">
											<h4 class="text-capitalize">Huawei Mate 20 Pro</h4>
											<a href="#" class="see_specification_link" data-toggle="modal" data-target="#seeSpecModal">{% trans "See specifications"%}</a>
											<a href="{% url 'operators'%}" class="available_in_12_plans">{% trans "Available in 12 plans"%}</a>
											<a href="{% url 'search'%}" class="buymobilephoneonly">{% trans "Buy mobile Phone"%}</a>
										</div>
									</div>
								</div>
								<div>
									<div class="thumb-wrapper">
										<div class="img-box">
											<img src="{% static 'images/mob.png'%}" class="img-responsive img-fluid" alt="slider Image 1">
										</div>
										<div class="thumb-content">
											<h4 class="text-capitalize">Google pixel 3</h4>
											<a href="#" class="see_specification_link" data-toggle="modal" data-target="#seeSpecModal">{% trans "See specifications"%}</a>
											<a href="{% url 'operators'%}" class="available_in_12_plans">{% trans "Available in 12 plans"%}</a>
											<a href="{% url 'search'%}" class="buymobilephoneonly">{% trans "Buy mobile Phone"%}</a>
										</div>
									</div>						
								</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 floatright">

					 <div class="adverstisement_div">
						<a  href="" target="_blank" rel="nofollow" title="" class="zone1">
							<img  width = "100%" height="100%" src="" class="img-responsive img-fluid zone1" />
						</a>
					</div>
					<div class="adverstisement_div">
						<a  href="" target="_blank" rel="nofollow" title="" class="zone2">
							<img width = "100%" height="100%" src="" class="img-responsive img-fluid zone2" />
						</a>
					</div>
					<div class="adverstisement_div">
						<a  href="" target="_blank" rel="nofollow" title="" class="zone3">
							<img width = "100%" height="100%" src="" class="img-responsive img-fluid zone3" />
						</a>
					</div>
					<div class="adverstisement_div">
						<a href="" target="_blank" rel="nofollow" title="" class="zone4">
							<img  width = "100%" height="100%" src="" class="img-responsive img-fluid zone4" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endblock %}
	 {% block extra_script %}
{{block.super}}
{% include "datausagemodal.html" %}
<script >
$(document).ready(function(){
 initializeRangeSlider('#dataRouterRange');

});
	// Slider script
			// Data slider
			var dataRouterRange_slider = document.getElementById("dataRouterRange");
			var dataRouterRangeval_output = document.getElementById("dataRouterRangeval");
			dataRouterRangeval_output.innerHTML = dataRouterRange_slider.value;
			dataRouterRange_slider.oninput = function() {
			  dataRouterRangeval_output.innerHTML = this.value;
			}
				
</script>
{% endblock %}